*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('assets/bg.jpg'), linear-gradient(rgba(0,0,0,0.92), rgba(0,0,0,0.92));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    overflow-y: hidden;
}

nav, #content {
    padding-top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 250px;
}

nav>p {
    flex: 2;
    font-size: 38px;
}

nav>div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

nav>div>button {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-size: 14px;
}

nav>div>button:hover {
    background: rgba(255,255,255,0.3);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0 50px 0 250px;
}

.hero>img {
    width:100%;
}

.hero>div {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    gap: 40px;
}

.hero>div>p:first-child {
    font-size: 50px;
    font-weight: bold;
    max-width: 15ch;
}

.hero>div>button {
    align-self: flex-start;
    background-color: rgb(200,17,61);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.hero>div>p:nth-child(2){
    font-family: sans-serif;
    color:rgb(180, 180, 180);
}

h2 {
    font-size: 36px;
    text-align: center;
}

h2+p {
    color: rgb(180, 180, 180);
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 250px;
    font-family: sans-serif;
    color: rgb(180, 180, 180);
    gap: 40px;
}

.menu-item {
    display: flex;
    gap: 10px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.menu-item>div{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.menu-item>div>p:first-child, .menu-item>p{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: serif;
    color: white;
}

.menu-item>p{
    align-self: flex-start;
    padding-top: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about>p {
    padding: 50px 250px;
    line-height: 2rem;
    max-width: 120ch;
}